nav{
	height:1.2cm;
	width:1090px;
	background-color:white;
	margin-top:-0.5cm;
	margin-left:-0.21cm;
	position:fixed;
	padding-top:0.1cm;
	z-index:1;
	list-style-type:none;
}
body{
	background-color:#E7EAEA;
	font-family: 'Roboto', sans-serif;
}
.container1{
	display:flex;
	position:relative;
}
.container2{
	display:flex;
	position:relative;
}
.Logo{
	font-family: 'Agbalumo', system-ui;
	font-size:21px;
	position:relative;
	top:-0.5cm;
	padding-top:0.6cm;
	left:1.2cm;
}
.content1{
	font-size:10px;
	font-weight:bold;
	position:relative;
	left:2.5cm;
	padding-top:0.4cm;
}
.dropdown1{
	position:relative;
	left:cm;
}
.table1{
	display:none;
	position:relative;
	top:1cm;
}
.dropdown1:hover .table1{
	display:block;
}
.content2{
	font-size:10px;
	font-weight:bold;
	position:relative;
	left:3.7cm;
	padding-top:0.4cm;
}
.content3{
	font-size:10px;
	font-weight:bold;
	position:relative;
	left:5.2cm;
	padding-top:0.4cm;
}
.content4{
	font-size:10px;
	font-weight:bold;
	position:relative;
	left:6.7cm;
	padding-top:0.4cm;
}
.content5{
	font-size:10px;
	font-weight:bold;
	background: linear-gradient(to right, #f32170, #ff6b08 ); 
    -webkit-text-fill-color: transparent; 
	-webkit-background-clip: text; 
	position:relative;
	left:8cm;
	padding-top:0.4cm;
}
.content6{
	font-size:10px;
	font-weight:bold;
	background: linear-gradient(to right, #f32170, #ff6b08 ); 
    -webkit-text-fill-color: transparent; 
	position:relative;
	left:9.2cm;
    -webkit-background-clip: text; 
	padding-top:0.4cm;
}
.Scrapbook{
	left:14cm;
	position:relative;
}
.Scrapbook-icon{
	font-size:13px; 
	top:0.1cm;
	left:0.5cm;
	position:absolute;
}
.Scrapbook-text{
	font-size:8px;
	color:grey; 
	top:0.7cm;
	position:absolute;
}
.Search{
	left:16.1cm;
	position:relative;
}
.Search-icon{
	font-size:13px; 
	top:0.1cm; 
	left:0.25cm;
	position:absolute;
}
.Search-text{
	font-size:8px;
	color:grey; 
	top:0.7cm;
	position:absolute;
}
.Cart{
	left:18cm;
	position:relative;
}
.Cart-icon{
	font-size:13px; 
	top:0.1cm; 
	position:absolute;
}
.Cart-text{
	font-size:8px;
	color:grey; 
	top:0.7cm;
	position:absolute;
}
.Profile{
	left:19.6cm;
	position:relative;
}
.Profile-icon{
	font-size:13px; 
	top:0.1cm; 
	left:2cm;
	position:absolute;
}
.Profile-text{
	font-size:8px;
	color:grey; 
	top:0.7cm;
	position:absolute;
}
.main{
	position:relative;
	top:1cm;
}
.container3{
	display:flex;
	position:relative;
	list-style-type:none;
}
.Women{
	font-size:10px; 
	left:3.3cm;
	position:relative;
	text-decoration:underline 1px solid green;
}
.Men{
	font-size:10px; 
	left:3.9cm;
	position:relative;
	color:grey;
}
.Girls{
	font-size:10px; 
	left:4.5cm;
	position:relative;
	color:grey;
}
.Boys{
	font-size:10px; 
	left:5.1cm;
	position:relative;
	color:grey;
}
.container4{
	display:flex;
	top:0.5cm;
	position:relative;
	overflow-y:hidden;
	overflow-x:scroll;
	height:2.7cm;
	width:25cm;
	left:1.6cm;
}
.My{
	position:relative;
	left:1.4cm;
	top:0.3cm;
}
.My-content{
	position:absolute;
	height:1.1cm;
	width:1.2cm;
	background-color:lightblue;
	border-radius:100px;
	padding-left:0.2cm;
	padding-top:0.3cm;
	font-size:25px;
	font-weight:bold;
	outline:1px solid green;
	outline-offset:4px;
}
.My-text{
	font-size:8px;
	color:grey;
	top:1.65cm;
	left:0.2cm;
	position:absolute;
	font-weight:bold;
}
.line1{
	height:1cm;
	width:0.01cm;
	background-color:grey;
	position:absolute;
	left:3.4cm;
	top:0.7cm;
}
.Kurtas{
	position:relative;
	left:2.8cm;
}
.img{
	height:43; 
	width:43px; 
	border-radius:100px;
	position:absolute;
}
.Kurtas-text{
	font-size:8px; 
	color:grey;
	font-weight:bold;
	position:absolute;
	top:1.4cm;
	left:0.2cm;
}
.Dresses{
	position:relative;
	left:2.4cm;
}
.Dresses-text{
	font-size:8px; 
	color:grey;
	font-weight:bold;
	position:absolute;
	top:1.4cm;
	left:0.1cm;
}
.Top{
	position:relative;
	left:2cm;
}
.Top-text{
	font-size:8px; 
	color:grey;
	font-weight:bold;
	position:absolute;
	top:1.4cm;
	left:0.3cm;
}
.Sarees{
	position:relative;
	left:1.6cm;
}
.Sarees-text{
	font-size:8px; 
	color:grey;
	font-weight:bold;
	position:absolute;
	top:1.4cm;
	left:0.2cm;
}
.Suits{
	position:relative;
	left:1.2cm;
}
.Suits-text{
	font-size:8px; 
	color:grey;
	font-weight:bold;
	position:absolute;
	top:1.4cm;
	left:0.3cm;
}
.Ethnic{
	position:relative;
	left:0.77cm;
}
.Ethnic-text{
	font-size:8px; 
	color:grey;
	font-weight:bold;
	position:absolute;
	top:1.4cm;
	left:0.1cm;
}
.Bottoms{
	position:relative;
	left:0.4cm;
}
.Bottoms-text{
	font-size:8px; 
	color:grey;
	font-weight:bold;
	position:absolute;
	top:1.4cm;
	left:0.1cm;
}
.Bags{
	position:relative;
	left:-0.001cm;
}
.Bags-text{
	font-size:8px; 
	color:grey;
	font-weight:bold;
	position:absolute;
	top:1.4cm;
	left:0.3cm;
}
.Foot{
	position:relative;
	left:-0.4cm;
}
.Foot-text{
	font-size:8px; 
	color:grey;
	font-weight:bold;
	position:absolute;
	top:1.4cm;
	left:cm;
}
.Add{
	position:relative;
	left:-0.9cm;
}
.Add-text{
	font-size:8px; 
	color:grey;
	font-weight:bold;
	position:absolute;
	top:1.4cm;
	left:-0.1cm;
}
.Winter{
	position:relative;
	left:-1.4cm;
}
.Winter-text{
	font-size:8px; 
	color:grey;
	font-weight:bold;
	position:absolute;
	top:1.4cm;
	left:0.18cm;
}
.Lingerie{
	position:relative;
	left:-1.8cm;
}
.Lingerie-text{
	font-size:8px; 
	color:grey;
	font-weight:bold;
	position:absolute;
	top:1.4cm;
	left:0.1cm;
}
.Product{
	display:flex;
	position:relative;
	margin-top:0.9cm;
}
.Content11{
	background-color:white; 
	height:345px; 
	width:250px; 
	border-radius:10px;
	position:relative;
	left:0.75cm;
	border:1px solid lightgrey;
}
.img2{
	height:25px;
	width:25px;
	position:absolute;
	border-radius:100px;
	Top:-0.15cm;
}
.upper-text{
	font-size:10px;
	font-weight:bold;
	position:absolute;
	top:-0.0001cm;
	left:1cm;
}
.main-img{
	height:260px;
	width:175px;
	position:absolute;
	Top:0.3cm;
}
.right-img{
	float:right;
	position:absolute;
	left:4.7cm;
}
.sec-img{
	height:2.2cm;
	display:block;
	position:absolute;
	top:0.3cm;
}
.sec-img2{
	height:2.2cm;
	display:block;
	position:absolute;
	top:2.65cm;
}
.sec-img3{
	height:2.2cm;
	display:block;
	position:absolute;
	top:5cm;
}
.Limeroad{
	font-size:11px;
	position:absolute;
	top:7.3cm;
	left:0.2cm;
}
.upper{
	top:0.3cm;
	position:relative;
	left:0.3cm;
}
.lower{
	top:0.9cm;
	position:relative;
	left:0.13cm;
}
.Content12{
	background-color:white; 
	height:345px; 
	width:250px; 
	border-radius:10px;
	position:relative;
	left:0.8cm;
	border:1px solid lightgrey;
}
.Content13{
	left:0.84cm;
}
.Content14{
	left:0.88cm;
}
.Product2{
	display:flex;
	position:relative;
	top:0.3cm;
}
.Product3{
	top:0.6cm;
}
.Product4{
	top:0.9cm;
}
.Product5{
	top:1.2cm;
}
.Product6{
	top:1.5cm;
}
.Product7{
	top:1.8cm;
}
.Product8{
	top:2.1cm;
}
.Product9{
	top:2.4cm;
}
.Product10{
	top:2.7cm;
}
.table1{
	position:relative;
	top:1cm;
}